<div class="clearfix">
  <div class="m-grid-column">
    <h1>Bienvenue sur la Télé de gauche</h1>
    <p>un texte de présentation de la télé de gauche</p>
    <p>les liens vers les pages spéciales :
      <ul class="mcore-nav">
        <li class="mcore-nav-left">
          <a class="mcore-nav-link" href="#" title="">
            <span>Je ne crois plus en la politique</span><em />
          </a>
        </li>
        <li class="mcore-nav-right">
          <a class="mcore-nav-link" href="#" title="">
            <span>Je veux agir !</span><em />
          </a>
        </li>
      </ul>
    </p>
  </div>
  <div class="m-grid-column">
    <p>logos et liens PG</p>
  </div>
</div>
